﻿<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/jquery-3.3.1.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/jquery.session.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/popper.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-animate.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-aria.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-material.min.css"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-material.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-messages.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/angular-route.min.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/svg-assets-cache.js"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/jquery.dataTables.css"></script>
<script src="https://binhsoft.sharepoint.com/sites/WorkingPalace/Shared%20Documents/jquery.dataTables.js"></script>


<!--<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>-->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>



<div class="body col-md-12 padding-zero" ng-app="viewApp" ng-controller="ctrl">
    <div class="float-left navigation-bar col-md-2 padding-zero">
        <div class="float-left navigation-search">
            <div class="navigation-search-content">
                <div class="navigation-search-title">SEARCH</div>
                <div>
                    <label for="ddlGroup">Group</label>
                </div>
                <div>
                    <select id="ddlGroup" ng-init="search.group = groups[0]" ng-model="search.group" ng-options="group.GroupName for group in groups track by group.GroupName" ng-change="changeList(search.group.GroupName)"></select>
                </div>
                <div>
                    <label for="ddlDriver">Driver</label>
                </div>
                <div>
                    <select id="ddlGroup" ng-init="search.driver = drivers[0]" ng-model="search.driver" ng-options="driver.DriverName for driver in drivers track by driver.DriverName"></select>
                </div>
                <table>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 45%;">
                            <label for="ddlDate">From</label>
                        </td>
                    </tr>

                    <tr>
                        <td style="font-size: 2.5em; text-align: center">
                            <i class="far fa-calendar"></i>
                        </td>
                        <td>
                            <input type="text" id="ddlTimeLong" ng-model="search.date" placeholder="Pick a day">
                        </td>
                    </tr>
                </table>
                <div class="navigation-search-content-button">
                    <div ng-click="find(search)">FIND</div>
                </div>
            </div>
            <!--navigation-search-content-->
        </div>
        <!--End of "navigation-search"-->


        <div class="float-left navigation-list">
            <div class="navigation-list-tab">
                <!--<div class="tablinks inview" onclick="changeTab(event, 'Driver')">Driver</div>
                <div class="tablinks" onclick="changeTab(event, 'Group')">Group</div>-->
                <div class="tablinks" ng-class="{'inview': tabName=='driver'}" ng-click="tabName='driver'">Driver</div>
                <div class="tablinks" ng-class="{'inview': tabName=='list'}" ng-click="tabName='list'">Group</div>
            </div>
            <div class="navigation-list-sort" ng-click="sortReverse = !sortReverse">
                <i class="fas fa-sort"></i> Sort
            </div>
            <div ng-switch on="tabName">
                <div id="Driver" class="navigation-list-content" ng-switch-when="driver">
                    <div class="navigation-list-content-item" ng-repeat="driver in driversOfGroup | orderBy: driver.DriverName:sortReverse" ng-click="changeDriver(driver)">
                        <div class="navigation-list-content-item-point">
                            <div class="point">{{driver.DriverPoints}}</div>
                            <div class="point-text">Points</div>
                        </div>
                        <h6>{{driver.DriverName}}</h6>
                    </div>
                </div>

                <div id="Group" class="navigation-list-content" ng-switch-when="list">
                    <div class="navigation-list-content-item" ng-repeat="group in groupsOfGroup | orderBy: group.GroupName:sortReverse" ng-click="changeGroup(group)">
                        <div class="navigation-list-content-item-point">
                            <div class="point">{{group.GroupPoints}}</div>
                            <div class="point-text">Points</div>
                        </div>
                        <h6>{{group.GroupName}}</h6>
                    </div>
                </div>
            </div>
        </div>
        <!--End of "float-left navigation-list"-->
    </div>
    <!--End of "float-left navigation-bar"-->

    <div class="float-left main col-md-10 padding-zero">
        <div class="main-content">
            <div class="main-content-url">
                <div class="main-content-url-root" ng-init="groupRoot.GroupParent = '...'">
                    {{groupRoot.GroupParent}}
                </div>
                <div class="main-content-url-splash">
                    /
                </div>
                <div class="main-content-url-group" ng-init="group.DriverGroup = '...'">
                    {{group.DriverGroup}}
                </div>
                <div class="main-content-url-splash">
                    /
                </div>
                <div class="main-content-url-driver main-content-url-active" ng-init="driverName.DriverName = '...'">
                    {{driverName.DriverName}}
                </div>
                <div class="main-content-export">
                    <span>Export</span>
                </div>
            </div>
            <!--End of "main-content-url"-->
            <div class="main-content-date">
                <div>
                    {{date}}
                </div>
            </div>
            <!--End of "main-content-date"-->
            <div class="main-content-details">
                <div class="main-content-details-detail">
                    <div class="main-content-details-detail-title float-left">
                        <span>Total Distance:</span>
                    </div>
                    <div class="main-content-details-detail-content">
                        <span>{{distance}}</span>
                    </div>
                </div>
                <div class="main-content-details-detail">
                    <div class="main-content-details-detail-title float-left">
                        <span>AVG Speed:</span>
                    </div>
                    <div class="main-content-details-detail-content">
                        <span>{{avgSpeed}}</span>
                    </div>
                </div>
                <div class="main-content-details-detail">
                    <div class="main-content-details-detail-title float-left">
                        <span>Travel Time:</span>
                    </div>
                    <div class="main-content-details-detail-content">
                        <span>{{travelTime}}</span>
                    </div>
                </div>
                <!--<div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>-->
                <div id="chartCompare" style="width: 100%; height: 500px; padding-top: 20px"></div>
            </div>
        </div>
    </div>
    <!--End of "float-left main col-md-10 padding-zero"-->
</div>
<script>

    var childGroup, childDriver;
    google.charts.load('current', { 'packages': ['bar'] });

    $(function () {
        $("#ddlTimeLong").datepicker({
            dateFormat: 'dd/mm/y',
            changeMonth: true,
            changeYear: true
        });
    });

    $(document).ready(function () {
        emptyChart(new Date());
    });

    var viewApp = angular.module('viewApp', ['ngMaterial', 'ngMessages', 'material.svgAssetsCache']);
    viewApp.controller('ctrl', function ($scope) {
        //Current list in view.
        $scope.tabName = "driver";
        $scope.sortReverse = true;

        //Set date on title
        $scope.date = new Date().toDateString();

        //Add item to select box on page load.
        $scope.groups = getGroupList();
        $scope.drivers = getDriverList();
        $scope.driversOfGroup = getDriverList();
        $scope.groupsOfGroup = getGroupList();

        //Change driver/group list on load.
        $scope.changeList = function (groupName) {
            resetData();
            getChildren(groupName);
            $scope.drivers = getChildDriver();
            $scope.driversOfGroup = getChildDriver();
            $scope.groupsOfGroup = getChildGroup();
        };

        //Search for driver and group
        $scope.find = function (search) {
            var date = $("#ddlTimeLong").datepicker('getDate');
            var log = getFilterLog(date.toISOString(), search.driver.Id);
            if (log) {

                //Print driver details
                $scope.distance = log.totalDistance + " (km)";
                $scope.avgSpeed = log.avgSpeed + " (km/h)";
                $scope.travelTime = log.travelTime + " (hours)";
                $scope.date = date.toDateString();

                //Draw chart
                var topDriverLog = getTopDriverLog(date.toISOString());
                var dayLog = getDayAVGLog(date.toISOString());
                drawChart(topDriverLog, log, dayLog, date);

                //Set direction
                var rootDirection = getRootDirection(log.driverId);
                var driver = rootDirection.shift();
                $scope.driverName = driver;
                $scope.group = driver;
                $scope.groupRoot = rootDirection.shift();

            } else {
                $scope.distance = "";
                $scope.avgSpeed = "";
                $scope.travelTime = "";
                $scope.date = "Nothing found.";
                emptyChart(date);
            }
        };

        //Change driver
        $scope.changeDriver = function (driver) {
            $scope.search.driver = driver;
        }

        //Change driver
        $scope.changeGroup = function (group) {
            $scope.search.group = group;
            $scope.changeList(group.GroupName);
        }

    });

    //----------------------------REST API----------------------------
    function getGroupList(groupName) {
        var groupList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('GroupList')/items?$select=ID,GroupName,GroupPoints&$orderby= GroupName asc";
        if (groupName) {
            apiUrl += "&$filter=GroupParent eq '" + groupName + "'";
        }
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                groupList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return groupList;
    }

    function getDriverList(groupName) {
        var driverList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('DriverList')/items?$select=ID,DriverName,DriverGroup,DriverPoints&$orderby= DriverName asc";
        if (groupName) {
            apiUrl += "&$filter=DriverGroup eq '" + groupName + "'";
        }
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                driverList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return driverList;
    }

    function getDriverLogByDate(date, driverId) {
        date = resetTime(date);
        date = increaseDate(date);
        var current = increaseDate(date);
        var logList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('DriverLogList')/items?$select=driverId,totalDistance,avgSpeed,travelTime,logDate&$filter= (logDate ge '" + date + "') and (logDate le '" + current + "') and (driverId eq " + driverId + ")";
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                logList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return logList;
    }

    function getTopDriverByDate(date) {
        date = resetTime(date);
        date = increaseDate(date);
        var current = increaseDate(date);
        var logList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('DriverLogList')/items?$select=driverId,totalDistance,avgSpeed,travelTime,logDate&$filter= (logDate ge '" + date + "') and (logDate le '" + current + "')&$orderby=avgSpeed,travelTime,logDate asc";
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                logList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return logList;
    }

    function getDayLog(date) {
        date = resetTime(date);
        date = increaseDate(date);
        var current = increaseDate(date);
        var logList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('DriverLogList')/items?$select=driverId,totalDistance,avgSpeed,travelTime,logDate&$filter= (logDate ge '" + date + "') and (logDate le '" + current + "')";
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                logList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return logList;
    }

    function getDriver(driverId) {
        var driverList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('DriverList')/items?$select=ID,DriverName,DriverGroup&$filter= Id eq " + driverId;
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                driverList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return driverList[0];
    }

    function getGroupParent(groupName) {
        var groupList;
        var apiUrl = _spPageContextInfo.webAbsoluteUrl + "/_api/web/lists/getbytitle('GroupList')/items?$select=ID,GroupName,GroupParent&$filter= GroupName eq '" + groupName + "'";
        $.ajax({
            url: apiUrl,
            type: "GET",
            headers: {
                "accept": "application/json;odata=verbose",
            },
            success: function (data) {
                groupList = data.d.results;
            },
            error: function (xhr) {
                alert(xhr.status + ': ' + xhr.statusText);
            },
            async: false
        });
        return groupList[0];
    }
    //---------------------------Normal script function.----------------------------
    function getChildren(groupName) {
        var tmpChildGroup = getGroupList(groupName);
        if (childGroup) {
            childGroup = childGroup.concat(tmpChildGroup);
        } else {
            childGroup = tmpChildGroup;
        }

        if (childDriver) {
            childDriver = childDriver.concat(getDriverList(groupName));
        } else {
            childDriver = getDriverList(groupName);
        }

        if (tmpChildGroup.length > 0) {
            var i;
            for (i = 0; i < tmpChildGroup.length; i++) {
                getChildren(tmpChildGroup[i].GroupName);
            }
        }
    }

    function resetTime(date) {
        var tmp = date.split("-");
        var tmp2 = tmp[2].split("T");
        return tmp[0] + "-" + tmp[1] + "-" + tmp2[0] + "T00:00:00.000Z";
    }

    function increaseDate(date) {
        var tmp = date.split("-");
        var tmp2 = tmp[2].split("T");
        return tmp[0] + "-" + tmp[1] + "-" + ++tmp2[0] + "T00:00:00.000Z";
    }

    function getChildGroup() {
        return childGroup;
    }

    function getChildDriver() {
        return childDriver;
    }

    function resetData() {
        childGroup = null;
        childDriver = null;
    }

    //Find driver's belong to group.
    function getFilterLog(date, driverId) {
        var currentLog = getDriverLogByDate(date, driverId);
        return currentLog[0];
    }

    //Find top driver of the day
    function getTopDriverLog(date) {
        var currentLog = getTopDriverByDate(date);
        return currentLog[0];
    }

    //Get day avg log
    function getDayAVGLog(date) {
        var tmpList = getDayLog(date);
        var avgSpeed = 0;
        var travelTime = 0;
        var totalDistance = 0;
        for (var i = 0; i < tmpList.length; i++) {
            avgSpeed += parseInt(tmpList[i].avgSpeed);
            travelTime += parseInt(tmpList[i].travelTime);
            totalDistance += parseInt(tmpList[i].totalDistance);
        }
        var tmpObj = {
            "avgSpeed": avgSpeed / tmpList.length,
            "travelTime": travelTime / tmpList.length,
            "totalDistance": totalDistance / tmpList.length,
        };
        return tmpObj;
    }

    //Draw chart
    function drawChart(topDriverLog, currentDriverLog, dayLog, date) {
        var data = google.visualization.arrayToDataTable([
           //['Year', 'Sales', 'Expenses', 'Profit'],
           //['2014', 399, 399, 0.5],
           //['2015', 244.5, 299.5, 2],
           //['2016', 50, 200, 4.5]
           ['Day', 'AVG Speed', 'Traveled Distance', 'Total Time'],
         ['Top Driver', parseInt(topDriverLog.avgSpeed), parseInt(topDriverLog.totalDistance), parseInt(topDriverLog.travelTime)],
         ['Current day AVG', parseInt(dayLog.avgSpeed), parseInt(dayLog.totalDistance), parseInt(dayLog.travelTime)],
         ['Current driver', parseInt(currentDriverLog.avgSpeed), parseInt(currentDriverLog.totalDistance), parseInt(currentDriverLog.travelTime)]
        ]);

        var options = {
            chart: {
                title: 'Compare with others',
                subtitle: 'AVG Speed, Traveled Distance, and Total Time: ' + date.toDateString(),
            },
            bars: 'horizontal', // Required for Material Bar Charts.
            hAxis: { format: 'decimal' },
            height: 400,
            colors: ['#ffb171', '#b1da62', '#ff849e']
        };

        var chart = new google.charts.Bar(document.getElementById('chartCompare'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

    }

    function emptyChart(date) {
        var data = google.visualization.arrayToDataTable([
          //['Year', 'Sales', 'Expenses', 'Profit'],
          //['2014', 399, 399, 0.5],
          //['2015', 244.5, 299.5, 2],
          //['2016', 50, 200, 4.5]
          ['Day', 'AVG Speed', 'Traveled Distance', 'Total Time'],
        ['Top Driver', 0, 0, 0],
        ['Current day AVG', 0, 0, 0],
        ['Current driver', 0, 0, 0]
        ]);

        var options = {
            chart: {
                title: 'Compare with others',
                subtitle: 'AVG Speed, Traveled Distance, and Total Time: ' + date.toDateString(),
            },
            bars: 'horizontal', // Required for Material Bar Charts.
            hAxis: { format: 'decimal' },
            height: 400,
            colors: ['#ffb171', '#b1da62', '#ff849e']
        };

        var chart = new google.charts.Bar(document.getElementById('chartCompare'));

        chart.draw(data, google.charts.Bar.convertOptions(options));

    }

    function getRootDirection(driverId) {
        var root = [];
        var currentDriver = getDriver(driverId);
        var groupParent = getGroupParent(currentDriver.DriverGroup);
        root.push(currentDriver);
        if (groupParent.GroupParent) {
            root.push(groupParent);
        } else {
            root.push("...");
        }
        return root;
    }
</script>

<style>
        .body {
            width: 100%;
        }

        #contentRow {
            padding: 0px !important;
        }

        .float-left {
            float: left;
        }

        .padding-zero {
            padding: 0px !important;
        }

        .navigation-bar {
            width: 300px;
        }

        .navigation-search {
            width: 100%;
            background-color: #666666;
            color: white;
            font-size: 1em;
        }

        .navigation-search-content {
            padding: 10px;
        }

        .navigation-search-title {
            font-size: 1.5em;
        }

        .navigation-search-content label {
            color: #bcbcbc;
            margin: 0px;
            font-weight: 200;
            margin-top: 10px;
        }

        .navigation-search-content select, .navigation-search-content input {
            width: 100%;
            background-color: #666666;
            color: #fefefe;
            border-bottom: 1px solid #b3b3b3;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            padding: 5px;
            padding-left: 10px;
        }

        .navigation-search-content table {
            width: 100%;
        }

        .navigation-search-content-button {
            display: inline-block;
            padding: 5px 50px 0px 50px;
            width: 100%;
            text-align: center;
            height: 50px;
            line-height: 37px;
        }

            .navigation-search-content-button div {
                background: #757575;
                color: #f2f2f2;
                border: 1px solid #757575;
                border-radius: 2px;
                box-shadow: none;
                width: 100%;
                height: 2.5em;
                cursor: pointer;
            }

        .navigation-list {
            width: 100%;
            height: 690px;
            background-color: #f0f0f0;
        }

        .navigation-list-tab {
            overflow: hidden;
            background-color: white;
        }

            .navigation-list-tab div {
                color: black;
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 50%;
                margin: 0px;
                text-align: center;
            }

        .navigation-list-sort {
            cursor: pointer;
            color: #b1b1b1;
            height: 25px;
            line-height: 25px;
        }

        .navigation-list-content {
            border-bottom: 1px solid #ccc;
            background-color: white;
            border-top: none;
            color: black;
        }

        .navigation-list-content-item {
            border-bottom: 1px solid #ccc;
            padding: 5px;
            height: 70px;
            cursor: pointer;
        }

        .main {
            background-color: #f0f0f0;
            height: 980px;
            color: #9d9d9d;
            font-size: 20px;
        }

        .main-content {
            padding: 20px;
            width: 100%;
        }



        .main-content-url {
            font-size: 20px;
            width: 100%;
        }

            .main-content-url div {
                color: #2579c1;
                display: inline-block;
            }

        .main-content-url-splash {
            color: #cbcbcb;
        }

        .main-content-url-active {
            color: #6b6b6b !important;
        }

        .main-content-export {
            color: black !important;
            background-color: white;
            padding: 5px 30px;
            cursor: pointer;
            float: right;
            box-shadow: 0 3px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
            border-radius: 3px;
        }

        .main-content-date {
            width: 100%;
            text-align: center;
        }

        .main-content-details {
            width: 100%;
        }

        .main-content-details-detail {
            width: 100%;
            padding: 30px 10px 40px 10px;
            border-bottom: 1px solid #9d9d9d;
        }

        .main-content-details-detail-content {
            float: right;
        }


        .inview {
            border-bottom: 1px solid #0163fc !important;
            background: rgb(102, 102, 102, 0.2) !important;
            color: #457287 !important;
        }

        #ui-datepicker-div {
            background-color: #666;
            width: 300px;
            color: white;
        }

        .ui-datepicker-calendar {
            width: 100%;
        }

            .ui-datepicker-calendar a {
                color: #000000;
            }

        .navigation-list-content-item-point {
            width: 60px;
            background: #78ba50;
            height: 60px;
            border-radius: 50%;
            position: absolute;
        }

            .navigation-list-content-item-point .point {
                position: relative;
                left: 16px;
                top: 1px;
                font-size: 25px;
            }

            .navigation-list-content-item-point .point-text {
                left: 13px;
                top: -5px;
                position: relative;
                font-size: 13px;
            }

        .navigation-list-content-item h6 {
            margin-left: 70px;
        }

        .ms-WPBody {
            background-color: #f0f0f0;
        }

        /*
    * === Change default style ===
    */

        #sideNavBox {
            display: none;
        }

        #contentBox {
            margin: 0px;
        }

        #s4-titlerow {
            display: none !important;
        }

        #s4-bodyContainer {
            background-color: #f0f0f0;
        }
</style>