﻿/*css for old login form*/
/*.login-template {
    background-color: white;
    height: 450px;
    width: 900px;
    border-bottom: 1px solid #808080;
    padding: 0px;
}

.template-header {
    height: 70px;
    width: 100%;
    background-color: #0078d7;
    text-align: center;
    line-height: 70px;
    color: white;
    font-weight: 500;
    font-size: 50px;
}

.line {
    height: 120px;
    width: 100%;
    display: block;
    text-align: center;
}

.line-txtUsername {
    color: black;
}

.line-txtPassword {
    color: black;
}

.contain-txt {
    padding-top: 20px;
    font-size: 25px;
}

.contain-txt input {
    padding: 25px 0px 25px 20px;
    height: 30px;
    border-radius: 4px;
    width: 370px;
    margin-top: 10px;
}

.btn-Login {
    height: 50px;
    width: 180px !important;
    background-color: #0078d7;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-Login:active {
    background-color: #0078d7;
}

.txt-Login {
    padding-top: 14px;
}

.txt-createUser {
    margin-top: 10px;
    text-align: center;
}

#txt-Signup {
    cursor: pointer;
    color: #0078d7;
}*/



/*css for new login form*/
.login-form md-card {
            padding: 0!important;
        }
        .header span {
            color: white;
        }

        .txtLabel {
            font-size: 20px;
        }

        #txt-Signup {
            font-size: 15px;
            margin-left: 15px;
        }

        #txt-Signup:active {
            color: #0078d7;
        }